/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
	box-sizing: border-box;
}

body {
	max-width: 960px;
	margin: 0 auto;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px; 
	line-height: 1.2em;
	color: #008000; 
	letter-spacing: .015em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, "Times New Roman", serif;
	text-shadow: 1px 1px 5px #000;
	color: #FFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	text-align: left;
}


/* Colors
––––––––––––––––––––––––––––––––––––––––––––––––––

   * Regular font color: #008000


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix {
  content: "";
  display: block;
  clear: both; 
}

/* Custom Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
	background-image: url("../images/swbg.jpg");
	background-size: cover;
}

.row {
	height: 180px;
	text-align: center;
}

.img-white-wrapper {
	background-color: #FFF;
	border: 4px solid green;
	max-width: 20%;
	padding: 10px;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

.img-red-wrapper {
	background-color: red;
	color: black;
	border: 4px solid black;
	max-width: 20%;
	padding: 10px;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

.img-green-wrapper {
	background-color: green;
	color: white;
	border: 4px solid black;
	max-width: 20%;
	padding: 10px;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
}

.img {
	max-width: 150px;

}

.img-white-wrapper:first-child {
	margin-left: 0px;
}

#attack {
	float: left;
}

#fight {
	height: 60px;
}

#message {
	color: white;
	text-align: left;
}

header {
	height: 100px;
	padding-top: 20px;
}
header h1 {
	float: right;
}

/* =====  ===== */


